@use '../mixins/fluid-size' as size;
@use '../mixins/disable-mob-hover' as mobile;

.filter-directions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;

  &__error {
    color: #c00;
    margin-left: 8px;
  }

  &__loading {
    color: #000;
    margin-left: 8px;
  }
}
